.login-btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-btn {
    margin: 4px;
}

h2 {
    transition: color .3s ease-out;
}

h2:hover {
    color: #646cffaa;
}